$black: #000000;
$green: #579339;

$primary: $black;
$secondary: $green;

@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
$pinyon-script: "Pinyon-Script", sans-serif;
$helvetica: Helvetica, Arial, sans-serif;